<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- SITE TITLE-->
    <title>Figaro App Landing Page - Layout One</title>

    <!-- FAV and TOUCH ICONS -->
	<link rel="shortcut icon" type="image/x-icon" href="images/icons/favicon.ico" />
	<link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png">
	
	<!-- STYLESHEETS -->
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/slick.css">
	
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="css/style.css"> <!-- Main Style -->

	<!-- FONT ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">


	<!-- WEB FONTS -->
	<link href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/arciform.css">

	
	
	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navigation">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Pre loader-->
<div class="preloader">
	<div class="status">
  		<h1 class="preloader-text" data-content="Figaro">figaro</h1>
	</div>
</div>




<div class="wrapper">

	<header>
		
		<div class="overlay"></div> <!-- for main navigation effect -->

		<a href="#navigation" class="nav-trigger">
			Menu <span></span>
		</a>

		<nav class="nav-container" id="navigation" data-spy="affix">
			<ul class="nav">
				<li><a class="scroll" href="#download">download</a></li>
				<li><a class="scroll" href="#features">features</a></li>
				<li><a class="scroll" href="#video">video</a></li>
				<li><a class="scroll" href="#reviews">reviews</a></li>
				<li><a class="scroll" href="#works">works</a></li>
				<li><a class="scroll" href="#stats">stats</a></li>
				<li><a class="scroll" href="#contacts">contacts</a></li>
			</ul>
		</nav><!-- /.nav-container-->

		<section id="news-stream" class="news">
			<h2 class="news-heading">
				NEWS
			</h2><!-- /.twitter-logo-->

			<div id="vticker" class="stream">
				<ul class="newslist">
					<li>
						<p>Check out the new version of Figaro! This is sample text</p>
						<a href="#">Bob Marley, 2 hours ago </a>
					</li>
					<li>
						<p>Check out the new version of Figaro!</p>
						<a href="#">Arif Evren Erdem, 3 hours ago </a>
					</li>
					<li>
						<p>Check out the new version of Figaro!</p>
						<a href="#">Ahmet Rıfat Sarper, 4 hours ago </a>
					</li>
				</ul>
			</div><!-- /.stream-->
		</section><!-- /.news-->
	</header><!-- /header-->






	<section id="download" class="download">
		<div class="intro container">
			<img class="logo" src="images/logo/figaro-logo.png" alt="figaro-logo">
			<h1>make your life colorfull</h1>
			<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks <br> as necessary, making this the first true</p>
			<div class="col-sm-6">
				<a href="#" class="btn-markets app-store"><i class="fa fa-apple"></i> App Store</a>
			</div>
			<div class="col-sm-6">
				<a href="#" class="btn-markets google-play"><i class="icon-googleplay"></i> Google Play</a>
			</div>
		</div><!-- /.intro-->
	</section><!-- /.download-->





	<section id="features" class="features">
		<div class="container">
			<div class="row">
				<div class="col-md-3" data-aos="fade-right" data-aos-delay="200">
					<div class="feature-box">
						<div class="heading">
							<img src="images/icons/simple.png" alt="simple and fiendly interface">
							<h2>Simple and frendly interface</h2>
						</div>
						<div class="box-content">
							<p>
								All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, 
							</p>
						</div>
					</div>
					<div class="feature-box">
						<div class="heading">
							<img src="images/icons/cloud.png" alt="All your data in cloud">
							<h2>All your data in cloud</h2>
						</div>
						<div class="box-content">
							<p>
								All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words. 
							</p>
						</div>
					</div>
				</div><!-- /.col-md-3-->

				<div class="col-md-6">
					<div class="iphone-mockup">
						<div class="phone-frame">
							<div class="phone-screenshot" data-parallaxify-background-range-x="160" data-parallaxify-background-range-y="160"></div>
							<div class="shape" data-parallaxify-background-range-x="-160" data-parallaxify-background-range-y="-160"></div>
						</div>
					</div>
				</div><!-- /.col-md-6-->

				<div class="col-md-3" data-aos="fade-left" data-aos-delay="300">
					<div class="feature-box">
						<div class="heading">
							<img src="images/icons/personalized.png" alt="Personalized User Support">
							<h2>Personalized User Support</h2>
						</div>
						<div class="box-content">
							<p>
								All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words. 
							</p>
						</div>
					</div>
					<div class="feature-box">
						<div class="heading">
							<img src="images/icons/community.png" alt="Great Community">
							<h2>Great Community</h2>
						</div>
						<div class="box-content">
							<p>
								All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words. 
							</p>
						</div>
					</div>

				</div><!-- /.col-md-3-->
			</div><!-- /.row-->
		</div><!-- /.container-->
	</section><!-- /.features-->





	<section id="video" class="video">
		<div class="video-inner" data-aos="fade-right" data-aos-delay="200">
			<div id="player"></div>
			
			<div class="video-caption">
				<button class="play--button" data-aos="fade-right" data-aos-delay="400"><i class="fa fa-play"></i></button>
				<div class="caption-text" data-aos="fade-right" data-aos-delay="500">
					<p>our short video presentation</p>
					<h1>what can you do with figaro</h1>
				</div>
			</div><!-- /.video-caption-->

			<button class="pause--button">pause ||</button>
			<button class="stop--button">stop <i class="fa fa-stop"></i></button>
		</div><!-- /.video-inner-->
	</section><!-- /.video-->





	<section id="reviews" class="reviews">

		<div class="tab-wrapper">
			<div class="container">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">overview</a></li>
				  	<li role="presentation"><a href="#advantages" aria-controls="advantages" role="tab" data-toggle="tab">advantages</a></li>
				  	<li role="presentation"><a href="#feature" aria-controls="feature" role="tab" data-toggle="tab">features</a></li>
				</ul><!-- /.nav-tabs-->
			</div><!-- /.container-->
		</div><!-- /.tab-wrapper-->


		<div class="container">
			<!-- Tab panes -->
			<div class="tab-content">

				<div role="tabpanel" class="tab-pane active" id="overview">
					<div class="row">

						<div class="col-md-6">
							<div id="owl-reviews" class="owl-carousel owl-theme">

					            <div class="item">
					            	<div class="carousel-text">
					            		<p>
					            			All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
					            		</p>

						            	<p>
						            		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...
						            	</p>
					            	</div>
					            	<div class="carousel-text-info">
					           			<span>Sandra Peterson <br> <em>appreviews.com</em></span> 
					           		</div>
					            
					            </div><!-- /.item-->

					            <div class="item">
					            	<div class="carousel-text">
					            		<p>
					            			All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
					            		</p>

						            	<p>
						            		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...
						            	</p>
					            	</div>
					            	
					           		<div class="carousel-text-info">
					           			<span>Sandra Peterson <br> <em>appreviews.com</em></span> 
					           		</div>
					            
					            </div><!-- /.item-->

					             <div class="item">
					            	<div class="carousel-text">
					            		<p>
					            			All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
					            		</p>

						            	<p>
						            		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...
						            	</p>
					            	</div>
					            	
					           		<div class="carousel-text-info">
					           			<span>Sandra Peterson <br> <em>appreviews.com</em></span> 
					           		</div>
					            
					            </div><!-- /.item-->
			
	   						</div><!-- /#owl-reviews-->
						</div><!-- /.col-md-6-->

						<div class="col-md-6"></div><!-- /.col-md-6-->

					</div><!-- /.row-->
				</div><!-- /.tab-pane-->


				<div role="tabpanel" class="tab-pane" id="advantages">
					<div class="row">

						<div class="col-md-6">
							<div id="owl-advantages" class="owl-carousel owl-theme">

					            <div class="item">
					            	<div class="carousel-text">
					            		<p>
					            			<strong>It'is Free</strong> generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
					            		</p>

						            	<p>
						            		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...
						            	</p>
					            	</div>
					            	<div class="carousel-text-info">
					           			<span>It's Free <br> <em>download and use</em></span> 
					           		</div>
					            
					            </div><!-- /.item-->

					            <div class="item">
					            	<div class="carousel-text">
					            		<p>
					            			<strong>Less memory usage</strong> generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
					            		</p>

						            	<p>
						            		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...
						            	</p>
					            	</div>
					            	
					           		<div class="carousel-text-info">
					           			<span>Less Memory Usage <br> <em>Try it now!</em></span> 
					           		</div>
					            
					            </div><!-- /.item-->

					            <div class="item">
					            	<div class="carousel-text">
					            		<p>
					            			<strong>Security</strong> generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
					            		</p>

						            	<p>
						            		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...
						            	</p>
					            	</div>
					            	
					           		<div class="carousel-text-info">
					           			<span>Security <br> <em>Your photos is saved </em></span> 
					           		</div>
					            
					            </div><!-- /.item-->
			
	   						</div><!-- /#owl-advantages-->
						</div><!-- /.col-ms-6-->

						<div class="col-md-6"></div><!-- /.col-sm-6-->

					</div><!-- /.row-->
				</div><!-- /#advantages tab-pane-->


				<div role="tabpanel" class="tab-pane" id="feature">
					<div class="row">

						<div class="col-md-6 feature-text">
							<p>
		            			<strong>Simple and friendly interface</strong> generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
		            		</p>

			            	<h6>
			            		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...
			            	</h6>

			            	<p>
			            		<a href="#features" class="more-features scroll">more features</a>
			            	</p>
						</div><!-- /.col-md-6-->

						<div class="col-md-6"></div><!-- /.col-md-6-->

					</div><!-- /.row-->
				</div><!-- /#features tab-pane-->

			</div><!-- /.tab-content-->

			<div class="image-section" data-aos="zoom-in-left" data-aos-easing="ease-out-back" data-aos-delay="1500">
				<img src="images/other/selfie-girl.png" data-rjs="2" alt="selfie-girl">
			</div>
		</div><!-- /.container-->

	</section><!-- /.reviews-->





	<section id="works" class="works">	
		<div class="container">
			<div class="works-caption" data-aos="fade-right" data-aos-delay="500">
				<h2>some of</h2>
				<h1>people</h1>
				<h1 class="ml">work</h1>
			</div>
		</div>

		<div class="img-gallery">
			<ul data-aos="fade-left" data-aos-delay="500">
				<li>
					<a href="images/works/placeholder.jpg">
						<img src="images/works/thumbnail/thumb-placeholder.jpg" alt="thumb-1">
					</a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Alan Eidenberg"></figure>
						<p><span>by </span> Alan <br>Eidenberg</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-2"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Ahmet Taner"></figure>
						<p><span>by </span> Ahmet <br>Taner Kışlalı</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-3"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by John Doe"></figure>
						<p><span>by </span> John <br>Doe</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-4"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Arif Evren Erdem"></figure>
						<p><span>by </span> Arif <br> Evren Erdem</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-5"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Gavin Absher"></figure>
						<p><span>by </span> Gavin <br>Absher</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-6"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Codi Fishback"></figure>
						<p><span>by </span> Codi <br>Fishback</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-7"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Keven Brocato"></figure>
						<p><span>by </span> Keven  <br>Brocato</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-8"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Carter New Comer"></figure>
						<p><span>by </span> Carter <br>Newcomer</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-9"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Omar Kimbler"></figure>
						<p><span>by </span> Omar <br>Kimbler</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-10"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Tyson Ohler"></figure>
						<p><span>by </span> Tyson <br>Ohler</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-11"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Ahmet Taner"></figure>
						<p><span>by </span> Dylan <br>Greenwell</p>
					</div> 
				</li>
				<li>
					<a href="images/works/placeholder.jpg"><img src="images/works/thumbnail/thumb-placeholder.jpg" alt="photo-12"></a>
					<div class="app-user-temp">
						<figure><img src="images/app-user/app-user-img.jpg"  alt="by Alfonzo Stahlman"></figure>
						<p><span>by </span> Alfonzo <br>Stahlman</p>
					</div> 
				</li>
			</ul>
		</div><!-- /.img-gallery-->

		<div class="gallery-navigation">
			<div class="gallery-line"></div>
			<ul>
				<li><a class="prev-photo" href="#"><i class="fa fa-angle-left"></i> previous</a></li>
				<li>|</li>
				<li><a class="next-photo" href="#"> next <i class="fa fa-angle-right"></i></a> </li>
			</ul>
		</div><!-- /.gallery-navigation-->

	</section><!-- /.works-->





	<section id="stats" class="stats">
		<div class="container">

			<div class="col-md-3 mt90 stats-counters" data-aos="fade-right" data-aos-delay="700">
				<div class="circular-progressbar">
					<svg id="circular-progressbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77 77">
						<circle id="circle-bg" class="circle-bg" cx="38.5" cy="38.5" r="35"/>
						<circle id="circle-color" class="circle-color" cx="38.5" cy="38.5" r="35" transform ="rotate(-90 38.5 38.5)"/>
					</svg>
					<span class="progress-percentage" data-percentage="73">%</span>
					<p>highly rated</p>
				</div><!-- /.progress-bar-->
				<div class="download-wrapper">
					<span class="download-time" data-from="0" data-to="250">250</span>
					<em>million</em>
					<p>downloads</p>
				</div><!-- /.download-time-->
				<div class="awards-wrapper">
					<span class="numberofawards" data-from="0" data-to="30">30</span>
					<p>awards and <br> nominations</p>
				</div><!-- /.download-time-->
			</div><!-- /.col-md-2-->



			<div class="col-md-6" data-aos="zoom-in-up" data-aos-easing="ease-out-back" data-aos-delay="900">
				<div class="screenshot-slider">
			       
		            <div>
		                <img src="images/screenshots/screenshot-1.jpg" alt="screenshot-2">
		            </div>
		            <div>
		                <img src="images/screenshots/screenshot-2.jpg" alt="screenshot-3">
		            </div>
		            <div>
		                <img src="images/screenshots/screenshot-3.jpg" alt="screenshot-4">
		            </div>
		          
			    </div><!-- /.screenshot-slider-->
			</div><!-- /.col-md-6-->


			<div class="col-md-3" data-aos="fade-left" data-aos-delay="700">
				<div class="figaro-icon-wrapper mt90">
					<div class="figaro-icon">
						<img src="images/icons/figaro-icon.png" alt="figaro-icon">
					</div><!-- /.figaro-icon-->
				</div><!-- /.figaro-icon-wrapper-->

				<div class="stats-text-content">
					<h1>figaro</h1>
					<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true</p>
				</div>

			</div>

			<div class="slick-navigation">
				<div class="slick-line"></div>
				<ul>
					<li><a id="prev" class="prev-photo" href="#"><i class="fa fa-angle-left"></i> previous</a></li>
					<li>|</li>
					<li><a id="next" class="next-photo" href="#"> next <i class="fa fa-angle-right"></i></a> </li>
				</ul>
			</div><!-- /.slick-navigation-->
			
			<div class="apple-watch-section">
				<div class="col-md-2" data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-delay="7000">
					<p>now figaro<br><em>also on </em> </p>
				</div>
				<div class="col-md-2" data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-delay="1000">
					<span><i class="fa fa-apple"></i>watch</span>
				</div>
				<div class="col-md-2" data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-delay="1300">
					<a class="btn-download">Download</a>
				</div>
				<div class="col-md-6" data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-delay="1600">
					<img class="apple-watch img-responsive" src="images/mockups/apple-watch.png" alt="apple-watch">
				</div>
			</div><!-- /.apple-watch-section-->
		</div><!-- /.container-->
		<div class="stats-bg-shape"></div>
	</section><!-- /.stats-->




	 
	<footer id="contacts" class="contacts">
		
		<div class="subscribe-forms-wrapper">
			<div class="subscribe-forms center-block">

				<form class="mailchimp">
					
					<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
					<h4 class="subscription-success">s</h4>
					<h4 class="subscription-error">e</h4>

					<div class="form-group">
						<label>subscribe</label>
						<input type="email" class="email" name="subscriber-email" id="subscriber-email" placeholder="your email">
						<button type="submit" class="button" name="subscribe-button" id="subscribe-button"><i class="fa fa-check"></i></button>
					</div>
					
				</form>  <!-- /.mailchimp--> 
				
				<!-- =====================
				     LOCAL TXT FORM STARTS 
				     ===================== -->
				     
				<!-- THIS FORM IS COMMENTED TO HIDE -->

				<!-- <form id="subscribe" class="subcription-form" role="form">
					
					<h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
					<h4 class="subscription-error">Something Wrong!</h4>

					<div class="form-group">
						<label for="">subscribe</label>
				
						<input type="email" class="email" name="subscriber-email" id="subscriber-email" placeholder="your email">
						<button type="submit" class="button" name="subscribe-button" id="subscribe-button"><i class="fa fa-check"></i></button>
					</div>
					
				</form>-->
				

			</div><!-- /.subscribe-forms-->
		</div><!-- /.subscribe-forms-wrapper-->

		

		<div class="contact-form">
			<form id="contact">	
	
				<!-- IF MAIL SENT SUCCESSFULLY -->
				<h4 class="success">
					Your message has been sent successfully.
				</h4>
				
				<!-- IF MAIL SENDING UNSUCCESSFULL -->
				<h4 class="error">
					E-mail must be valid and message must be longer than 1 character.
				</h4>

				<div class="form-group">
					<input type="text" class="form-control" id="name" name="name" placeholder="your name">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="email" name="email" placeholder="email">
					<i class="fa fa-send-o"></i>
				</div>
				<div class="form-group">
					<textarea id="message" name="message" class="form-control" placeholder="message.."></textarea>
				</div>
			
				<button type="submit" class="btn btn-primary">send message <i class="fa fa-angle-right"></i></button>
				<div class="close-btn"><i class="fa fa-close"></i></div>
			</form>
		</div><!-- /.contact-form-->



		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<p class="vertical-text">contact</p>
				</div>
				<div class="col-md-4">
					<p class="email-address"><span>info</span>@<span>website.com</span></p>
				</div>
				<div class="col-md-4">
					<p class="telephone">800 349 54 90</p>
				</div>
				<div class="col-md-2">
					<a id="cf-trigger" href="#" class="cf-trigger">
						<i class="fa fa-envelope"></i>
						<span>contact<br>form</span>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p class="copyright-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br><br>
					© 2015  Figaro C.</p>
				</div>
				<div class="col-md-6">
					
					<ul class="social">
						<li><a class="facebook" href="#"><i class="fa fa-facebook-square"></i> facebook</a></li>
						<li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i> pinterest</a></li>
						<li><a class="twitter" href="#"><i class="fa fa-twitter"></i> twitter</a></li>
						<li><a class="youtube" href="#"><i class="fa fa-youtube"></i> youtube</a></li>
					</ul>

				</div>
			</div>

		</div><!-- /.container-->

		<a href="#download" class="back-to-top scroll">
			<i class="fa fa-angle-up"></i>
		</a><!-- /.scrollTopAnchor-->

	</footer><!-- /.contacts-->


</div><!-- /.wrapper-->



<!-- SCRIPTS-->	
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/jquery.mobile.custom.min.js"></script>

<!-- PLUGINS-->
<script src="js/parallaxify/jquery.parallaxify.min.js"></script> <!-- Parallaxify -->
<script src="js/scroll/scroll.min.js"></script> <!-- Menu Scroll -->
<script src="js/owl/owl.carousel.js"></script> <!-- Owl Carousel -->
<script src="js/countto/jquery.countTo.js"></script> <!-- Count To -->
<script src="js/vticker/vticker-min.js"></script><!-- Vticker-->
<script src="js/slick/slick.min.js"></script><!-- /Slick-->
<script src="js/mailchimp/jquery.ajaxchimp.min.js"></script><!-- For Mailchimp -->
<script src="js/classie/classie.js"></script><!-- /Classie Js-->
<script src="js/aos/aos.js"></script><!-- /Aos Reveal Animation Js-->
<script src="js/retina/retina.min.js"></script><!-- /Retina Js-->




<script src="js/main.js"></script>
</body>
</html>